<% i=1 %>
<% @final_groups = Randomizer.display %>
<% Randomizer.number.to_i.times do %>
  <h4>Group <%= i %></h4>
  <ul>
    <% @final_groups["#{i}"].each do |name| %>
      <li><%= name %></li>
    <% end %>
  </ul>
  <% i += 1 %>
<% end %><br>

