<h2>Select a Class</h2>

<%= link_to "Add Class", new_group_path %> | 
<%= link_to "Edit or Delete class", :class_edit %><br><br>

<% if current_user.groups.first == nil %>
  <a href='/groups/new'><p>None classes created yet. Click here to get started.</p></a>
<% else %>
  <% current_user.groups.each do |group| %>
    <%= link_to group.title, group %><br>
  <% end %>
<% end %>

