<h2><%= @group.title %> show page</h2>

<h3>Class Roster</h3>
<ul>
  <% @students.each do |student| %>
    <li><%= student.last_name %>, <%= student.first_name %></li>
  <% end %>
</ul>

<!-- eventually add buttons/links next to each student in about list that update or delete them from the roster -->

<%= link_to "Add another student to roster", new_group_student_path(@group) %>