<h2>Welcome!</h2>

<p>This is the landing page for my app that is under construction.</p> 

<p>If you click on the link below, you will be prompted to sign in. If you are signed in, it will take you to your group index page.</p>

<a href="/groups">Group index</a>