<h2>Welcome to CustomGroups!</h2>

<p><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Login", new_user_session_path %> to access your account</p>

<h3>This is a great tool for teachers how give group projects and assignments. Here is what to expect inside:</h3>

<ol>
  <li>Create your classes</li>
  <li>Fill your rosters</li>
  <li>Select whether to create entirely random or random yet gender-mixed groups</li>
  <li>Set special "separation" cases for students that should not be grouped together</li>
  <li>From the Randomizer page, enter how many groups you’d like for your class</li>
  <li>Recieve “configured” yet randomized groups</li>
  <li>Bonus – Students will not know about the special cases. If Billy and Tommy do not work well together, but of course they want to team up, they will not see that you have disabled this possibility “under the hood”.</li>
</ol>
